* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 20px;
}

.textarea {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid rgba(8, 8, 8, 0.849);
    border-radius: 5px;
    background: #ebe5e5;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.container {
    display: flex;
    gap: 8px;
    width: 725px;
    height: 248px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    background-color: #888888;
}

.key_line {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: auto;
}

.button {
    width: 40px;
    height: 40px;
    background-color: #504f4f;
    color: #FFFF;
    transition: all .3s;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        background-color: rgb(191, 223, 143);
        transition: all .3s;
    }
}

.hover {
    background-color: rgb(191, 223, 143);
    transition: all .3s;
}

.two {
    width: 100px;
    height: 40px;
}

.half {
    width: 46px;
}

.middle {
    width: 88px;
}

.space {
    width: 340px;
}